<mat-table [dataSource] = "dataSource" matSort matSortActive="email" matSortDirection="desc">
  <ng-container matColumnDef="email">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.email}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="career">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Career</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.career }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="message">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Message</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.message }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
  <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
</mat-table>


<br>
<form [formGroup]="myForm" [hidden]="success" (ngSubmit)="handleFormSubmit()">

  <!--Value : {{ myForm.value | json }}-->
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input" formControlName="email">
      <mat-error ngxErrors="myForm.email">
        Please enter valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea" formControlName="message"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select" formControlName="career">
        <mat-option value="SE">SE</mat-option>
        <mat-option value="TE">Testing</mat-option>
        <mat-option value="DS">Datascience</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button [disabled]="myForm.invalid" color="Primary">Submit</button>
</form>

