<table id="players">
  <thead>
  <th>Email</th>
  <th>Carrer</th>
  <th>Discription</th>
  </thead>
  <tbody>
  <tr *ngFor="let t of players">
    <td>{{ t.email }}</td>
    <td>{{ t.career }}</td>
    <td>{{ t.message }}</td>
  </tr>
  </tbody>
</table>
<br>
<form [formGroup]="myForm" [hidden]="success" (ngSubmit)="handleFormSubmit()">

  <!--Value : {{ myForm.value | json }}-->
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input" formControlName="email">
      <mat-error ngxErrors="myForm.email">
        Please enter valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea" formControlName="message"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select" formControlName="career">
        <mat-option value="SE">SE</mat-option>
        <mat-option value="TE">Testing</mat-option>
        <mat-option value="DS">Datascience</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button [disabled]="myForm.invalid" color="Primary">Submit</button>
</form>

